@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Oswald:wght@200;300;400;500;700&display=swap');

.about-section {
    direction: column;
} 

.about-title-container {
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    background: yellow;
    color: black;
    padding: 0 20px;
}

.about-title::before {
    content: 'About ';
    font-weight: 200;
}

.about-title::after {
    content: 'Me';
    font-style: bold;
    font-weight: 800;
}



.about-title-underline {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -80%);
    height: 5rem;
    width: 10rem;
}

.about-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
    width: 100%;
    height: 80%;
}

.about-card-sub-container {
    width: 70%;
    height: 80%;
    perspective: 1500px;
}

.about-card {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, .75);
    transform-style: preserve-3d;
    transition: transform 1500ms;
}

.flip-enter {
    transform: rotateY(0deg);
}

.flip-enter-active {
    transform: rotateY(180deg);
}

.flip-enter-done {
    transform: rotateY(180deg);
}


.about-card-front, .about-card-back {
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 5px solid yellow;
    background: rgba(132, 57, 57, 0);
}

.about-card-front {
    z-index: 900;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 30px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.about-card-back {
    z-index: 899;
}

.about-icon {
    font-size: 75px;
    font-weight: 200;
    color: yellow;
}

/*small length small width */
@media (max-height: 668px) and (max-width: 650px) {
    .about-card-sub-container {
        width: 90%;
        height: 90%;
        perspective: 1500px;
    }

    .about-card-front {
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        padding: 5px;
        line-height: 1.2;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 1.15rem;
        overflow: scroll;
    }

}

/*long length small width*/
@media (min-height: 669px) and (max-width: 650px) {
    .about-card-sub-container {
        width: 90%;
        height: 100%;
        perspective: 1500px;
    }

    .about-card-front {
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        padding: 10px;
        line-height: 1.4;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        overflow: scroll;
    }
}

/*medium length medium width*/
@media (min-width: 651px) and (max-width: 950px) {
    .about-card-sub-container {
        width: 90%;
        height: 100%;
        perspective: 1500px;
    }
    
    
    .about-card-front {
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        padding: 10px;
        line-height: 1.4;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        overflow: scroll;
    }
}
