.carousel-container .carousel {
    cursor: pointer;
    font-size: 0px;
    white-space: nowrap;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    width: 60%;
    height: 340px;
}

.carousel img {
    height: 360px;
    object-fit: cover;
    width: calc(100% / 3 - 10px);
    z-index: 28;
    margin-right: 15px;
}

.carousel img:last-of-type {
    height: 360px;
    object-fit: cover;
    width: calc(100% / 3 - 10px);
    z-index: 28;
    margin-right: 0px;
}

.carousel-icon {
    position: absolute;
    font-size: 45px;
    color: yellow;
    z-index: 29;
    top: 50%;
}

.carousel-icon:first-of-type {
    left: 0px;
    transform: translate(-150%, -50%);
}

.carousel-icon:last-of-type {
    right: 0px;
    transform: translate(150%, -50%);
}

.disabled-icon {
    pointer-events: none;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2 - 7.5px);
    }
    .carousel-container {
        position: relative;
        width: 85%;
        height: 340px;
    }

    .carousel-icon:first-of-type {
        left: 0px;
        transform: translate(-50%, -50%);
    }
    
    .carousel-icon:last-of-type {
        right: 0px;
        transform: translate(50%, -50%);
    }

    .carousel img:last-of-type {
        height: 360px;
        object-fit: cover;
        width: calc(100% / 2 - 7.5px);
        z-index: 28;
        margin-right: 0px;
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }

    .carousel img:last-of-type {
        height: 360px;
        object-fit: cover;
        width: 100%;
        z-index: 28;
        margin-right: 0px;
    }
}